@import url('https://fonts.googleapis.com/css?family=Monoton|Orbitron|Press+Start+2P|Quantico&display=swap');
/* 
body{
font-family: 'Press Start 2P', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Quantico', sans-serif;
} */

body{
    height: 100vh;
    background-image: url(../medias/bg-body-principal.jpg);
    background-size: cover;
    background-position: center;
}

/*-----FONT SECTION-----*/

.font-quantico{
    font-family: 'Monoton', sans-serif !important;
}



.wh-50px{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

/*-----BACKGROUND SECTION-----*/

