@import url('https://fonts.googleapis.com/css?family=Monoton|Orbitron|Press+Start+2P|Quantico&display=swap');


html:root{
    --orange-light: #ff8000;
    --orange-medium: #d3560e;
    --purple-light: #851e52;
    --purple-medium: #521168;
    --pink-glow: #ff0080;
    --blue-medium: #00a2ff;
}



/*-----FONT SECTION-----*/

.font-monoton{
    font-family: 'Monoton', sans-serif !important;
}

.font-start-2p{
    font-family: 'Press Start 2P', cursive;
}

.font-orbitron{
    font-family: 'Orbitron', sans-serif;
}

.font-quantico{
    font-family: 'Quantico', sans-serif;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
    font-family: 'Fontastique';
    src: url('../fonts/Fontastique-Fontastique.woff2') format('woff2'),
        url('../fonts/Fontastique-Fontastique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*General*/
html {
    height: 100%;
  }

body {
	font-family: 'Open Sans', sans-serif;
    background: url('../medias/brick-wall.png') center;
    background-size: cover;
    background-color: black;
    min-height: 100%;
    margin: 0;
    padding: 0 0 100px 0;
    position: relative;
}




/*Textes*/

h1 {
    font-family: 'Monoton', sans-serif !important;
    font-size: 3rem;
    color: var(--pink-glow)!important;
    text-shadow: 1px 10px 10px var(--orange-medium);
}

h2 {
    color: #C86D4E;
    font-weight: 700;
    font-size: 1rem;
}

.h2-0-100 {
    padding-top: 130px;
}

.h2-pro-maths {
    padding-top: 110px;
}

p {
    font-size: 1rem;
}

.h2-page-regle {
    padding-top: 20px;
}

.text-victoire-defaite {
    font-size: 7rem;
    padding-top: 40px;
}

.text-bravo-dommage {
    font-size: 1.5rem;
    padding-bottom: 40px;
    margin-top: -20px;
}



/*Nav*/

.nav-link {
    display: block;
    padding: 1rem 1rem;

}
.logo-puissance{
    width: 70px;
    height: 70px;
}

.navbar-collapse {
    font-size: 1.1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}



.nav-link-table {
    padding-right: 0 !important;
}

.bg-light {
    background-color: rgba(70, 33, 29, 0.377)!important;
}

.nav-link{
    font-family: 'Press Start 2P', sans-serif !important;
    color: #C86D4E !important;
    font-size: 15px;
    text-align: center;
}

.nav-link:hover{
    font-family: 'Press Start 2P', sans-serif !important;
    color: #C86D4E !important;
    text-shadow: -1px -1px 11px rgba(206,89,55,0.87);
    font-size: 15px;
}

.navbar>.container, .navbar>.container-fluid {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler {
    border-color: rgba(226, 92, 15, 0.671) !important;
    /* box-shadow: -1px -1px 11px rgba(206,89,55,0.87); */
}

.navbar-brand {
    font-family: 'Fontastique';
    font-size: 1.8rem;
}

.navbar-light .navbar-toggler {
    border-color: #FFFFFF;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    outline: none !important;
}

:root {
    /* Set neon color */
    --neon-text-color: rgb(255, 104, 35);
    --neon-border-color: rgb(255, 94, 0);
  }

/*-----titre du jeu effet neon effect-----*/

.titre-jeu{
    /* font-size: 5em; */
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    animation: flicker 3.5s infinite alternate;
}

.titre-jeu::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .titre-jeu::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .titre-jeu:focus {
    outline: none;
  }
  
  /* Animate neon flicker */
  @keyframes flicker {
      
      0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        
          text-shadow:
              -0.2rem -0.2rem 1rem #fff,
              0.2rem 0.2rem 1rem #fff,
              0 0 2rem var(--neon-text-color),
              0 0 4rem var(--neon-text-color),
              0 0 6rem var(--neon-text-color),
              0 0 8rem var(--neon-text-color),
              0 0 10rem var(--neon-text-color);
          
          box-shadow:
              0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color),
              0 0 4rem var(--neon-border-color),
              inset 0 0 4rem var(--neon-border-color);        
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
          box-shadow: none;
      }    
  }


/*Colonnes puissance4*/
.col-player-1 {
    background-color: rgba(70, 33, 29, 0.651);
    /* border-radius: 10px; */
    margin-right: 3%;
    height: 160px;
}

.col-player-2 {
    background-color: rgba(70, 33, 29, 0.651);
    /* border-radius: 10px; */
    margin-left: 3%;
    height: 160px;
}

.col-puissance4 {
    background-color: rgba(128, 65, 6, 0.459);
    border: #151F27 solid 1px;
}


/*Cercles puissance4*/
.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.circle {
	display: block;
	width: 80%;
	padding-bottom: 80%;
	border-radius: 50%;
	background-color: black;
	margin: auto;
}

.circle-player {
	display: block;
	width: 35%;
	padding-bottom: 35%;
	border-radius: 50%;
	background-color: black;
	margin: auto;
}

.circle-player-1 {
    background-color: rgb(201, 31, 45);
    
}

.circle-player-2 {
    background-color:#FFE300;
}

.text-player {
    font-size: 1.5rem;
}



/*Boutons*/
.btn-lien {
    /* border-radius: 10px; */
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgba(128, 65, 6, 0.459);
    border: 0;
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-lien:hover {
    background-color: rgba(128, 65, 6, 0.459);
    transition-duration: 0.5s;
    box-shadow: -1px -1px 11px rgba(206,89,55,0.87);
}

.btn-lien:focus {
    background-color: #151F27 !important;
    box-shadow: none !important;
}

.btn-lien:disabled {
    background-color: red !important;
}
.bouton-text {
    background-color: #151F27;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 1.2rem;
}

.container-buttons {
    max-width: 800px;
}


 
/*Footer*/
footer {
    background-color: rgba(70, 33, 29, 0.377)!important;
    position: absolute;
    bottom: 0;
}

.text-footer {
    font-family: 'Press Start 2P', sans-serif !important;
    color: #C86D4E !important;
    font-size: 15px;
}

/*Regles jeu*/
.font-regle {
    font-size: 0.4rem;
}

.p-regles-jeu {
    margin-bottom: 0.2rem;
    line-height: 1rem;
}

.bloc {
    background-color: rgba(70, 33, 29, 0.377);
    padding: 25px;
    border-radius: 10px;
}


/*Defaite*/
.bloc-rouge {
    background-color: rgba(221,38,39,0.8);
}




/* MEDIA QUERIES */

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
}

@media (max-width: 767px) { 
    .h2-0-100, .h2-pro-maths {
        padding-top: 50px;
    }
    .h2-page-regle {
        padding-top: 0;
    }
    .text-victoire-defaite {
        font-size: 4rem;
    }
    .text-bravo-dommage {
        font-size: 1rem;
    }
}

@media (max-width: 576px) { 
    .circle {
        display: block;
        width: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
        background-color: black ;
        margin: auto;
        margin-left: -5px;
    } 
}

@media (max-width: 575px) { 
    .circle-player {
        width: 80%;
        padding-bottom: 80%;
    }
}

@media (max-height: 500px) { 
    .container-buttons {
        padding-bottom: 100px;
    }
}

@media (max-width: 350px) { 
    .text-victoire-defaite {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) { 
    .btn-lien, .bouton-text {
        font-size: 3rem;
    }
}

@media (max-width: 346px) { 
    .col-2 {
        flex: 0 0 13%;
        max-width: 13%;
    }
    .col-1 {
        flex: 0 0 6%;
        max-width: 6%;
    }
    .circle-player {
        width: 100%;
        padding-bottom: 100%;
    }
}

}
@media (max-width: 314px) { 
    .col-2 {
        display: none;
    }
}

@media (max-width: 310px) { 
    .btn-lien, .bouton-text {
        font-size: 0.8rem;
    }
}




